# WordPress blocks builds and node_modules
/blocks/*/build/
/blocks/*/node_modules/

# Ignore build and node_modules in root
/build/
/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.*
!.env.example

# package-lock
package-lock.json
/blocks/*/package-lock.json