@use "../config/variables" as *;

body > footer {
	section {
		margin: 0 auto;

		&.footer-content {
			font-size: clamp(0.75rem, 0.217vw + 0.701rem, 0.875rem);
			line-height: clamp(0.9rem, 0.109vw + 0.876rem, 0.963rem);
			background-color: $color-schwarz;
			color: #fff;
			padding: clamp(2rem, 3.478vw + 1.217rem, 4rem) clamp(1rem, 1.522vw + 0.658rem, 1.875rem);

			a:not(.elementor-button) {
				color: #fff;
				text-decoration: underline dotted #fff;
				transition: all 0.2s;

				&:hover {
					color: $color-grau-light;
					text-decoration: underline solid $color-grau-light;
				}
			}
		}

		&.post-recommendations {
			padding: 0 clamp(1rem, 1.522vw + 0.658rem, 1.875rem);
		}
	}
}

#scrollToTop a.elementor-button {
	@extend %primary-button-inverted !optional;
}
