@charset "UTF-8";
/**  */
/*** ----- VARIABLES ----- ***/
/**  */
/*** ----- Colors Default ----- ***/
/**  */
/*** ----- Space ----- ***/
/*** ----- Font Family ----- ***/
/**  */
/*** ----- z-index ----- ***/
/**  */
/*** ----- Breakpoints ----- ***/
/**  */
/*** ----- Font Sizes ----- ***/
/**  */
/*** ----- Line Heights ----- ***/
/**  */
/*** ----- Border Radius ----- ***/
/**  */
/*** ----- Box Shadows ----- ***/
/**  */
/*** ----- Transitions ----- ***/
/**  */
/*** ----- Easings ----- ***/
/**  */
/*** ----- Animations ----- ***/
/**  */
:where(.wp-site-blocks *:focus),
.wp-site-blocks .wp-block-button__link:focus:not(:active),
.wp-site-blocks .wp-element-button:focus:not(:active),
.wp-site-blocks .wp-block-read-more:focus:not(:active),
.docs-cat-link-btn.betterdocs-category-link-btn:focus:not(:active) {
  outline-width: 0;
  outline-style: none;
}

.wp-block-buttons .dki-button--primary,
.wp-block-buttons .wp-block-button__link,
.wp-site-blocks .wp-element-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--wp--preset--font-family--heading);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.1s, outline 0.05s;
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--contrast);
  box-shadow: var(--wp--preset--shadow--secondary-extra-small);
}
.wp-block-buttons .dki-button--primary:active,
.wp-block-buttons .wp-block-button__link:active,
.wp-site-blocks .wp-element-button:active {
  transform: scale(0.96);
}
.wp-block-buttons .dki-button--primary:hover,
.wp-block-buttons .wp-block-button__link:hover,
.wp-site-blocks .wp-element-button:hover {
  background-color: var(--wp--preset--color--secondary-hover);
  color: var(--wp--preset--color--contrast);
  box-shadow: var(--wp--preset--shadow--secondary-small);
}
.wp-block-buttons .dki-button--primary:active,
.wp-block-buttons .wp-block-button__link:active,
.wp-site-blocks .wp-element-button:active {
  border: none;
  border-color: unset;
  background-color: var(--wp--preset--color--secondary-light);
  box-shadow: var(--wp--preset--shadow--secondary-tiny);
  outline: 2px solid var(--wp--preset--color--secondary-hover);
  outline-offset: 0;
}
.wp-block-buttons .dki-button--primary:focus-visible:not(:active),
.wp-block-buttons .wp-block-button__link:focus-visible:not(:active),
.wp-site-blocks .wp-element-button:focus-visible:not(:active) {
  border: none;
  outline: 2px solid var(--wp--preset--color--primary);
  outline-offset: 2px;
  box-shadow: var(--wp--preset--shadow--secondary-small);
}

.wp-block-buttons .dki-button--neutral {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--wp--preset--font-family--heading);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.1s, outline 0.05s;
  background-color: var(--wp--preset--color--background-alt);
  color: var(--wp--preset--color--contrast);
}
.wp-block-buttons .dki-button--neutral:active {
  transform: scale(0.96);
}
.wp-block-buttons .dki-button--neutral:hover {
  background-color: var(--wp--preset--color--tertiary-dark);
  color: var(--wp--preset--color--background);
  box-shadow: var(--wp--preset--shadow--extra-small);
}
.wp-block-buttons .dki-button--neutral:active {
  border: none;
  border-color: unset;
  border-top-color: unset;
  border-bottom-color: unset;
  border-left-color: unset;
  border-right-color: unset;
  background-color: var(--wp--preset--color--tertiary-dark);
  color: var(--wp--preset--color--background);
  box-shadow: var(--wp--preset--shadow--tiny);
}
.wp-block-buttons .dki-button--neutral:focus:not(:active), .wp-block-buttons .dki-button--neutral:focus-visible {
  outline: 2px solid var(--wp--preset--color--tertiary-dark);
  outline-offset: 2px;
}

.wp-block-buttons .dki-button--save {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--wp--preset--font-family--heading);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.1s, outline 0.05s;
  background-color: var(--wp--preset--color--success);
  color: var(--wp--preset--color--contrast);
}
.wp-block-buttons .dki-button--save:active {
  transform: scale(0.96);
}
.wp-block-buttons .dki-button--save:hover {
  background-color: var(--wp--preset--color--success-dark);
  border-color: var(--wp--preset--color--success-dark);
  color: var(--wp--preset--color--background);
  box-shadow: var(--wp--preset--shadow--extra-small);
}
.wp-block-buttons .dki-button--save:active {
  background-color: var(--wp--preset--color--success-dark);
  border-color: var(--wp--preset--color--success);
  color: var(--wp--preset--color--background);
  box-shadow: var(--wp--preset--shadow--tiny);
}
.wp-block-buttons .dki-button--save:focus:not(:active), .wp-block-buttons .dki-button--save:focus-visible {
  outline: 2px solid var(--wp--preset--color--success-dark);
  outline-offset: 2px;
}

.wp-block-buttons .dki-button--error {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--wp--preset--font-family--heading);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.1s, outline 0.05s;
  background-color: var(--wp--preset--color--background-alt);
  color: var(--wp--preset--color--error);
}
.wp-block-buttons .dki-button--error:active {
  transform: scale(0.96);
}
.wp-block-buttons .dki-button--error:hover {
  background-color: var(--wp--preset--color--error);
  border-color: var(--wp--preset--color--error);
  color: var(--wp--preset--color--background);
  box-shadow: var(--wp--preset--shadow--extra-small);
}
.wp-block-buttons .dki-button--error:active, .wp-block-buttons .dki-button--error:focus {
  background-color: var(--wp--preset--color--error-dark);
  color: var(--wp--preset--color--background);
  box-shadow: var(--wp--preset--shadow--tiny);
}
.wp-block-buttons .dki-button--error:focus:not(:active), .wp-block-buttons .dki-button--error:focus-visible {
  outline: 2px solid var(--wp--preset--color--error-dark);
  outline-offset: 2px;
}

#wiki,
#editor {
  /* General Styles and Overrides */
  /* Item Count */
  /* Article List */
}
@media (width < 900px) {
  #wiki,
  #editor {
    flex-direction: column;
  }
}
#wiki .wiki-column-wiki,
#editor .wiki-column-wiki {
  flex-basis: 66.67%;
}
@media screen and (width < 1280px) {
  #wiki .wiki-column-wiki,
  #editor .wiki-column-wiki {
    flex-basis: 50%;
  }
}
#wiki .wiki-column-faq,
#editor .wiki-column-faq {
  flex-basis: 33.33%;
}
@media screen and (width < 1280px) {
  #wiki .wiki-column-faq,
  #editor .wiki-column-faq {
    flex-basis: 50%;
  }
}
#wiki .docs-two-columns,
#editor .docs-two-columns {
  gap: 2rem;
  padding: 0 30px;
}
@media (width <= 900px) {
  #wiki .docs-two-columns,
  #editor .docs-two-columns {
    flex-direction: column;
  }
}
#wiki .betterdocs-updated-date-wrapper,
#editor .betterdocs-updated-date-wrapper {
  color: var(--wp--preset--color--tertiary);
}
#wiki .wp-block-post-title,
#editor .wp-block-post-title {
  padding-top: 0.5em;
  text-transform: initial;
  font-weight: 600;
}
#wiki .betterdocs-category-title,
#editor .betterdocs-category-title {
  color: var(--wp--preset--color--contrast);
  font-family: var(--wp--preset--font-family--heading);
  font-weight: 600;
  letter-spacing: 1px;
}
#wiki .betterdocs-category-items-counts,
#editor .betterdocs-category-items-counts {
  background-color: var(--wp--preset--color--background);
  padding: 0;
  /* Item Count Number */
}
#wiki .betterdocs-category-items-counts span,
#editor .betterdocs-category-items-counts span {
  font-size: 14px;
  aspect-ratio: 1/1;
  min-height: 1em;
  min-width: 1em;
  width: unset;
  height: unset;
  padding: 0.6em;
  color: var(--wp--preset--color--background);
  text-align: center;
  background-color: var(--wp--preset--color--tertiary-dark);
}
#wiki .betterdocs-articles-list li,
#editor .betterdocs-articles-list li {
  /* Article List Item – Link */
}
#wiki .betterdocs-articles-list li i,
#editor .betterdocs-articles-list li i {
  color: var(--wp--preset--color--primary);
}
#wiki .betterdocs-articles-list li a,
#editor .betterdocs-articles-list li a {
  font-size: 1rem;
  color: var(--wp--preset--color--contrast);
}
#wiki .betterdocs-articles-list li a:hover,
#editor .betterdocs-articles-list li a:hover {
  color: var(--wp--preset--color--primary-hover);
}
i + #wiki .betterdocs-articles-list li a:hover,
i + #editor .betterdocs-articles-list li a:hover {
  color: var(--wp--preset--color--primary-hover);
}
li #wiki .betterdocs-articles-list li a:hover,
li #editor .betterdocs-articles-list li a:hover {
  background-color: var(--wp--preset--color--primary-hover);
}
#wiki .betterdocs--comment-section,
#editor .betterdocs--comment-section {
  /* Kommentare */
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments {
  /* Einzelner Kommentar */
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment {
  /* Kommentar Container */
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns {
  padding: 1rem 1rem 1.5rem;
  border: 2px solid var(--wp--preset--color--tertiary-light);
  border-radius: 12px;
  /* Kommentar Inhalt */
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column {
  /* Kommentar Autor */
  /* Kommentar Datum & Bearbeiten Link */
  /* Kommentar Inhalt */
  /* Antworten Link */
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-author-name,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-author-name {
  font-family: var(--wp--preset--font-family--heading);
  font-weight: 600;
  color: var(--wp--preset--color--primary);
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--wp--preset--color--tertiary-light);
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group .wp-block-comment-date,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group .wp-block-comment-date {
  color: var(--wp--preset--color--tertiary);
  transition: 0.1s color;
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group .wp-block-comment-date:hover,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group .wp-block-comment-date:hover {
  color: var(--wp--preset--color--primary-hover);
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group .wp-block-comment-edit-link,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group .wp-block-comment-edit-link {
  color: var(--wp--preset--color--contrast);
  transition: 0.1s color;
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group .wp-block-comment-edit-link:hover,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-group .wp-block-comment-edit-link:hover {
  color: var(--wp--preset--color--primary-hover);
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-content,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-content {
  color: var(--wp--preset--color--contrast);
  font-size: 1rem;
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-reply-link a.comment-reply-link,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-reply-link a.comment-reply-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--wp--preset--color--tertiary);
  color: var(--wp--preset--color--background);
  border-radius: 3px;
  box-shadow: var(--wp--preset--shadow--extra-small);
  transition: 0.2s all;
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-reply-link a.comment-reply-link:hover,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-reply-link a.comment-reply-link:hover {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--contrast);
  box-shadow: var(--wp--preset--shadow--small);
  text-decoration: none;
}
#wiki .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-reply-link a.comment-reply-link:active,
#editor .betterdocs--comment-section ol.betterdocs--comment-section--comments li.comment .wp-block-columns .wp-block-column .wp-block-comment-reply-link a.comment-reply-link:active {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--contrast);
  box-shadow: var(--wp--preset--shadow--tiny);
}
#wiki .betterdocs-blocks,
#editor .betterdocs-blocks {
  /* Category Overview Block */
  /* Table of Contents */
  /* Sticky TOC Close Button */
  /* Search Form Wrapper */
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper {
  container-type: inline-size;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* Single Category Item */
}
@media (width < 1280px) {
  #wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper,
  #editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper {
    grid-template-columns: 1fr;
  }
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper {
  /* Single Category Item Inner Wrapper */
  background-color: var(--wp--preset--color--background-alt);
  border: 1px solid var(--wp--preset--color--tertiary-light);
  border-radius: 12px;
  overflow: hidden;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper[data-id="42"],
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper[data-id="42"] {
  border-color: var(--wp--preset--color--primary);
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner {
  /* Single Category Header Section */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* Single Category Body Section */
  /* Single Category Footer Section */
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header {
  /* Single Category Header Section – Inner */
  flex-grow: unset;
  background-color: var(--wp--preset--color--background-alt);
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header .betterdocs-category-header-inner,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header .betterdocs-category-header-inner {
  border-bottom: unset;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body {
  flex-grow: 1;
  padding: 6px 4px 4px;
  /* Article List */
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list {
  width: 100%;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper),
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper) {
  transition: color 0.1s, background-color 0.1s;
  padding: 4px;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper) a,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper) a {
  width: 100%;
  line-height: 1.3;
  transition: color 0.1s;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper):has(a:hover),
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper):has(a:hover) {
  color: var(--wp--preset--color--primary-hover);
  background-color: var(--wp--preset--color--background-alt);
  border-radius: 6px;
  overflow: hidden;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper {
  margin: 0;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title {
  transition: color 0.1s, background-color 0.1s;
  padding: 4px;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title svg,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title svg {
  fill: var(--wp--preset--color--contrast);
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title a,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title a {
  width: 100%;
  transition: color 0.1s;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title:hover,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title:hover {
  color: var(--wp--preset--color--primary-hover);
  background-color: var(--wp--preset--color--background-alt);
  border-radius: 6px;
  overflow: hidden;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title:hover a,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title:hover a {
  color: var(--wp--preset--color--primary-hover);
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li {
  transition: color 0.1s, background-color 0.1s;
  padding: 4px;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li a,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li a {
  width: 100%;
  transition: color 0.1s;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li:hover,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li:hover {
  color: var(--wp--preset--color--primary-hover);
  background-color: var(--wp--preset--color--background-alt);
  border-radius: 6px;
  overflow: hidden;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer {
  flex-grow: unset;
  /* Category Link */
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--wp--preset--font-family--heading);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.1s, outline 0.05s;
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--contrast);
  box-shadow: var(--wp--preset--shadow--secondary-extra-small);
  display: flex;
  max-width: 150px;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn:active,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn:active {
  transform: scale(0.96);
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn:hover,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn:hover {
  background-color: var(--wp--preset--color--secondary-hover);
  color: var(--wp--preset--color--contrast);
  box-shadow: var(--wp--preset--shadow--secondary-small);
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn:active,
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn:active {
  border: none;
  border-color: unset;
  background-color: var(--wp--preset--color--secondary-light);
  box-shadow: var(--wp--preset--shadow--secondary-tiny);
  outline: 2px solid var(--wp--preset--color--secondary-hover);
  outline-offset: 0;
}
#wiki .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn:focus-visible:not(:active),
#editor .betterdocs-blocks.betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-footer .betterdocs-category-link-btn:focus-visible:not(:active) {
  border: none;
  outline: 2px solid var(--wp--preset--color--primary);
  outline-offset: 2px;
  box-shadow: var(--wp--preset--shadow--secondary-small);
}
#wiki .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc,
#editor .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc {
  padding: 1.5rem 2rem;
  background-color: var(--wp--preset--color--background-alt);
}
#wiki .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc span.toc-title,
#editor .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc span.toc-title {
  font-family: var(--wp--custom--font--primary);
  font-size: 1.5rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--wp--preset--color--primary);
}
#wiki .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc ul.toc-list li a,
#editor .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc ul.toc-list li a {
  font-family: var(--wp--custom--font--primary);
  font-size: 0.875rem;
  color: var(--wp--preset--color--tertiary-dark);
}
#wiki .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc ul.toc-list li a:hover,
#editor .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc ul.toc-list li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--wp--preset--color--primary-hover);
}
#wiki .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc ul.toc-list li.betterdocs-toc-heading-level-2 > a,
#editor .betterdocs-blocks.betterdocs-toc-block .betterdocs-toc ul.toc-list li.betterdocs-toc-heading-level-2 > a {
  font-family: var(--wp--custom--font--primary);
  font-size: 1rem;
  color: var(--wp--preset--color--contrast);
}
#wiki .betterdocs-blocks .sticky-toc-container,
#editor .betterdocs-blocks .sticky-toc-container {
  top: 2vh;
}
#wiki .betterdocs-blocks .sticky-toc-container .close-toc,
#editor .betterdocs-blocks .sticky-toc-container .close-toc {
  display: flex;
  justify-content: center;
  align-items: center;
  right: -56px;
  padding: 0.5rem;
  border-radius: 3px;
  transition: all 0.1s;
}
#wiki .betterdocs-blocks .sticky-toc-container .close-toc:hover,
#editor .betterdocs-blocks .sticky-toc-container .close-toc:hover {
  background-color: var(--wp--preset--color--secondary-hover);
}
#wiki .betterdocs-blocks .sticky-toc-container .close-toc:hover svg,
#editor .betterdocs-blocks .sticky-toc-container .close-toc:hover svg {
  fill: var(--wp--preset--color--contrast);
}
#wiki .betterdocs-blocks .sticky-toc-container .close-toc:active,
#editor .betterdocs-blocks .sticky-toc-container .close-toc:active {
  background-color: var(--wp--preset--color--secondary-light);
  outline: 2px solid var(--wp--preset--color--secondary-hover);
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper {
  /* padding: 2rem 0; */
  padding: 0;
  background-color: unset;
  /* Search Form Wrapper - Inner */
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search {
  margin: 0;
  max-width: unset;
  /* Search Form – Form Wrapper */
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform {
  width: auto;
  padding: 0.75em 1em;
  border-color: var(--wp--preset--color--tertiary);
  /* Search Form – Search Field Wrapper */
  /* Search Form – Results Wrapper */
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform:focus-within,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform:focus-within {
  border-color: var(--wp--preset--color--primary);
  outline: 2px solid var(--wp--preset--color--primary);
  outline-offset: -2px;
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap {
  border: unset;
  height: unset;
  padding: unset;
  margin: unset;
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-icon,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-icon {
  display: none;
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .betterdocs-search-field,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .betterdocs-search-field {
  padding: 0;
  font-size: 1em;
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .betterdocs-search-field::placeholder,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .betterdocs-search-field::placeholder {
  color: var(--wp--preset--color--tertiary);
  opacity: 1; /* Ensure placeholder is fully opaque */
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close {
  opacity: 1;
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close .close-border,
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close .close-line,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close .close-border,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close .close-line {
  fill: var(--wp--preset--color--tertiary);
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:hover path:first-child,
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:hover .close-border,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:hover path:first-child,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:hover .close-border {
  fill: var(--wp--preset--color--tertiary-dark);
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:hover .close-line,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:hover .close-line {
  fill: var(--wp--preset--color--background);
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:active path:first-child,
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:active .close-border,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:active path:first-child,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:active .close-border {
  fill: var(--wp--preset--color--primary);
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:active .close-line,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-searchform-input-wrap .docs-search-close:active .close-line {
  fill: var(--wp--preset--color--background);
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap {
  width: 100%;
  /* Search Form – Results List */
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result {
  width: 100%;
  overflow-x: hidden;
  /* Search Form – Results List Item */
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li {
  width: 100%;
  /* Search Form – Results List Item – Link */
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  /* Search Form – Results List Item – Title */
  /* Search Form – Results List Item – Category */
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a .betterdocs-search-title,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a .betterdocs-search-title {
  display: block;
  order: 2;
  font-family: var(--wp--preset--font-family--heading);
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--wp--preset--color--contrast);
  transition: color 0.2s;
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a br,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a br {
  display: none;
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a .betterdocs-search-category,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a .betterdocs-search-category {
  display: block;
  order: 1;
  font-size: 0.75rem;
  color: var(--wp--preset--color--primary-dark);
  padding: 0 0.5rem;
  border-radius: 3px;
  background-color: var(--wp--preset--color--primary-extra-light);
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a:hover .betterdocs-search-title,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li a:hover .betterdocs-search-title {
  color: var(--wp--preset--color--primary);
}
#wiki .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li:hover,
#editor .betterdocs-blocks.betterdocs-search-form-wrapper .betterdocs-live-search .betterdocs-searchform .betterdocs-search-result-wrap .docs-search-result li:hover {
  background-color: var(--wp--preset--color--background-alt);
}
#wiki .docs-navigation,
#editor .docs-navigation {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 2px solid var(--wp--preset--color--tertiary-light);
}
#wiki .docs-navigation a,
#editor .docs-navigation a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: var(--wp--preset--color--primary);
  text-decoration: none;
  transition: all 0.2s;
}
#wiki .docs-navigation a svg,
#editor .docs-navigation a svg {
  fill: var(--wp--preset--color--primary);
  transition: transform 0.2s, fill 0.2s;
  min-width: 1rem;
  width: 1rem;
  margin: 0;
}
#wiki .docs-navigation a:hover,
#editor .docs-navigation a:hover {
  color: var(--wp--preset--color--primary-hover);
  text-decoration: underline;
  text-decoration-color: var(--wp--preset--color--primary-hover);
}
#wiki .docs-navigation a:hover svg,
#editor .docs-navigation a:hover svg {
  transform: translateX(5px);
  fill: var(--wp--preset--color--primary-hover);
}
#wiki .docs-navigation a[rel=prev]:hover svg,
#editor .docs-navigation a[rel=prev]:hover svg {
  transform: translateX(-5px);
}
#wiki .docs-navigation a[rel=next],
#editor .docs-navigation a[rel=next] {
  justify-content: flex-end;
}
#wiki .docs-navigation a[rel=next]:hover svg,
#editor .docs-navigation a[rel=next]:hover svg {
  transform: translateX(5px);
}
#wiki.betterdocs--category-archive .betterdocs--content-wrapper .betterdocs-content-area .betterdocs-content-inner-area .betterdocs-entry-title .betterdocs-entry-heading,
#editor.betterdocs--category-archive .betterdocs--content-wrapper .betterdocs-content-area .betterdocs-content-inner-area .betterdocs-entry-title .betterdocs-entry-heading {
  color: var(--wp--preset--color--secondary);
  font-size: var(--wp--preset--font-size--x-large);
  text-transform: uppercase;
}

#betterdocs-sidebar .betterdocs-category-grid-wrapper {
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid var(--wp--preset--color--tertiary-light);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header {
  transition: background-color 0.1s;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header .betterdocs-category-header-inner h2.betterdocs-category-title {
  color: var(--wp--preset--color--contrast);
  transition: color 0.1s;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header:hover {
  background-color: var(--wp--preset--color--background-alt);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header:hover .betterdocs-category-header-inner h2.betterdocs-category-title {
  color: var(--wp--preset--color--primary-hover);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body {
  border-bottom: 1px solid var(--wp--preset--color--tertiary-light);
  padding: 6px 4px 4px;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list {
  width: 100%;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list li svg {
  fill: var(--wp--preset--color--contrast);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list li a {
  color: var(--wp--preset--color--contrast);
  width: 100%;
  transition: color 0.1s;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list li:hover {
  background-color: var(--wp--preset--color--background-alt);
  border-radius: 6px;
  overflow: hidden;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list li:hover a {
  color: var(--wp--preset--color--primary-hover);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper) {
  transition: color 0.1s, background-color 0.1s;
  padding: 4px;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper) a {
  color: var(--wp--preset--color--contrast);
  width: 100%;
  transition: color 0.1s;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper):hover {
  color: var(--wp--preset--color--primary-hover);
  background-color: var(--wp--preset--color--background-alt);
  border-radius: 6px;
  overflow: hidden;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list > li:not(.betterdocs-nested-category-wrapper):hover a {
  color: var(--wp--preset--color--primary-hover);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper {
  margin: 0;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title {
  transition: color 0.1s, background-color 0.1s;
  padding: 4px;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title a {
  color: var(--wp--preset--color--contrast);
  width: 100%;
  transition: color 0.1s;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title svg {
  fill: var(--wp--preset--color--contrast);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title:hover {
  color: var(--wp--preset--color--primary-hover);
  background-color: var(--wp--preset--color--background-alt);
  border-radius: 6px;
  overflow: hidden;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-title:hover a {
  color: var(--wp--preset--color--primary-hover);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li {
  transition: color 0.1s, background-color 0.1s;
  padding: 4px;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li svg {
  fill: var(--wp--preset--color--contrast);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li a {
  color: var(--wp--preset--color--contrast);
  width: 100%;
  transition: color 0.1s;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li:hover {
  color: var(--wp--preset--color--primary-hover);
  background-color: var(--wp--preset--color--background-alt);
  border-radius: 6px;
  overflow: hidden;
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-body .betterdocs-articles-list .betterdocs-nested-category-wrapper .betterdocs-nested-category-list li:hover a {
  color: var(--wp--preset--color--primary-hover);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper.active .betterdocs-single-category-inner .betterdocs-category-header {
  border-color: var(--wp--preset--color--primary);
  background-color: var(--wp--preset--color--background-alt);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper.active .betterdocs-single-category-inner .betterdocs-category-header .betterdocs-category-header-inner h2.betterdocs-category-title {
  color: var(--wp--preset--color--primary);
}
#betterdocs-sidebar .betterdocs-category-grid-wrapper .betterdocs-category-grid-inner-wrapper article.betterdocs-single-category-wrapper:last-child .betterdocs-single-category-inner .betterdocs-body {
  border-bottom: none;
}

#betterdocs-breadcrumb ul.betterdocs-breadcrumb-list li.betterdocs-breadcrumb-item a.bread-link {
  color: var(--wp--preset--color--tertiary);
  text-decoration-thickness: 0;
  text-underline-offset: 2px;
  transition: 0.1s all;
}
#betterdocs-breadcrumb ul.betterdocs-breadcrumb-list li.betterdocs-breadcrumb-item a.bread-link:hover {
  color: var(--wp--preset--color--primary-hover);
  text-decoration: 2px underline var(--wp--preset--color--primary-hover);
}
#betterdocs-breadcrumb ul.betterdocs-breadcrumb-list li.betterdocs-breadcrumb-item.breadcrumb-delimiter .icon-container svg {
  color: var(--wp--preset--color--tertiary);
}
#betterdocs-breadcrumb ul.betterdocs-breadcrumb-list li.betterdocs-breadcrumb-item.item-current span {
  letter-spacing: 0;
  color: var(--wp--preset--color--contrast);
}

/*# sourceMappingURL=betterdocs.css.map */
