<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full"} -->
<main class="wp-block-group alignfull">

    <div class="profile-wrapper has-global-padding">
        <!-- Profile Sidebar -->
        <div class="profile-sidebar-wrapper">
            <!-- wp:dki-wiki/profile-sidebar-nav /-->
        </div>
        <div class="profile-content-wrapper">
            <!-- wp:post-content {"lock":{"move":false,"remove":true}} /-->
        </div>
    </div>

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->