header:has(.header-navigation-wrapper) {
	display: flex;
	justify-content: center;
	z-index: 1000;
}

.header-navigation {
	&-wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: var(--wp--preset--color--background-alt);
		border-bottom: 1px solid var(--wp--preset--color--border);
		box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
		position: relative;

		&-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex: 1;
			max-width: var(--wp--style--global--wide-size);
			padding: 0.5rem 1rem;
		}
	}

	&-logo-link {
		display: flex;
		align-items: center;
		text-decoration: none;
		gap: 1rem;
		border-radius: 6px;
		transition:
			opacity 0.1s,
			transform 0.1s;

		.header-navigation-logo {
			height: 48px;
			width: 48px;
		}

		span {
			padding-right: 0.5rem;
			font-size: 1.25rem;
			font-weight: 600;
			color: var(--wp--preset--color--tertiary-dark);
		}

		@media screen and (max-width: 670px) {
			span {
				display: none;
			}
		}

		&:hover {
			color: var(--wp--preset--color--primary-hover);
		}

		&:focus {
			outline: 2px solid var(--wp--preset--color--primary);
			outline-offset: 2px;
		}

		&:active {
			transform: scale(0.95);
		}
	}

	&-menu {
		display: flex;
		align-items: center;
		gap: 1rem;

		ul {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				list-style: none;

				a {
					display: block;
					text-decoration: none;
					color: var(--wp--preset--color--contrast);
					padding: 0.5rem 1rem;
					border-radius: 4px;
					transition:
						transform 0.1s,
						background-color 0.1s,
						color 0.1s;

					&:hover {
						background-color: var(--wp--preset--color--background);
						color: var(--wp--preset--color--primary-hover);
					}

					&:focus {
						outline: 2px solid var(--wp--preset--color--primary);
					}

					&:active {
						transform: scale(0.95);
					}

					&.active {
						background-color: var(--wp--preset--color--primary);
						color: var(--wp--preset--color--background);

						&:hover {
							background-color: var(--wp--preset--color--primary-hover);
							color: var(--wp--preset--color--background);
						}

						&:focus {
							outline-offset: 2px;
						}
					}
				}
			}
		}
	}
}

.nav-item {
	list-style: none;
	display: inline-block;
	position: relative;

	> * {
		list-style: none;
		text-decoration: none;
	}

	button {
		position: relative;
		display: block;
		color: var(--wp--preset--color--text);
		text-decoration: none;
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
		transition: transform 0.1s ease;

		.nav-item-avatar {
			display: block;
			border-radius: 100px;

			// click through the avatar
			pointer-events: none;
		}

		&:hover,
		&:focus-visible {
			outline: none;

			img {
				outline: 2px solid var(--wp--preset--color--primary);
				outline-offset: 2px;
			}
		}

		&:active {
			transform: scale(0.95);
		}
	}

	&.dropdown {
		.dropdown-menu {
			position: absolute;
			display: none;
			flex-direction: column;
			z-index: 1000;
			background-color: var(--wp--preset--color--background-alt);
			border-radius: 6px;
			top: calc(100% + 0.5rem);
			right: 0;

			ul {
				margin: 0;
				padding: 0;
			}

			.dropdown-item {
				list-style: none;
				padding: 0;

				a {
					display: flex;
					align-items: center;
					justify-content: space-between;
					min-width: 130px;
					padding: 0.3rem 1rem;
					margin: 6px;
					color: var(--wp--preset--color--contrast);
					border-radius: 6px;
					text-decoration: none;
					transition:
						background-color 0.1s,
						color 0.1s;

					span {
						display: flex;
						align-items: center;
						gap: 0.5rem;

						svg {
							height: 1rem;
							width: 1rem;
							fill: var(--wp--preset--color--tertiary);
							transition: fill 0.1s;
						}
					}

					.notification-badge {
						display: block;
						pointer-events: none;
						width: 8px;
						height: 8px;
						border-radius: 100px;
						background-color: var(--wp--preset--color--primary);
					}

					&:hover {
						color: var(--wp--preset--color--primary-hover);
						background-color: var(--wp--preset--color--background);

						svg {
							fill: var(--wp--preset--color--primary-hover);
						}
					}

					&.active {
						color: var(--wp--preset--color--background);
						background-color: var(--wp--preset--color--primary);

						svg {
							fill: var(--wp--preset--color--background);
						}

						.notification-badge {
							background-color: var(--wp--preset--color--background);
						}

						&:hover {
							color: var(--wp--preset--color--background);
							background-color: var(--wp--preset--color--primary-hover);
						}
					}
				}
			}

			span.divider {
				display: block;
				height: 2px;
				background-color: var(--wp--preset--color--background);
			}

			.user-info {
				margin: 6px;
				padding: 0.5rem 0.7rem 0.7em;

				.user-name {
					font-weight: 600;
				}

				.user-role {
					font-size: 0.7rem;
					line-height: 1;
					padding: 0.4em 0.8em;
					border-radius: 100px;
					display: inline-block;

					&.admin {
						border: 1px solid var(--wp--preset--color--primary);
						background-color: var(--wp--preset--color--primary-extra-light);
					}

					&.moderator {
						border: 1px solid var(--wp--preset--color--secondary);
						background-color: var(--wp--preset--color--secondary-extra-light);
					}

					&.team {
						border: 1px solid var(--wp--preset--color--tertiary);
						background-color: var(--wp--preset--color--background-alt);
					}
				}
			}
		}

		.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
			display: flex;
		}
	}
}
